
@import url('https://fonts.googleapis.com/css?family=Oswald');

@font-face {
  font-family: 'Oswald', sans-serif;
}
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

body{
  font-family: 'Oswald',sans-serif;
  font-size:20px;
}

#title{
  font-family: "Oswald";
  font-size: 75px;
}

textarea{
    font-family: Tahoma;
    font-size: 14px;
}

h1{
  font-size:250%;
  font-variant:small-caps;
  text-shadow:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  text-transform:capitalize;
}

h2{

  font-variant:small-caps;
  text-shadow:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  font-size:200%;
}

h3{
  text-decoration:underline;
}
quote{
  font-size: 150%;
  font-style: italic;
}

a{
  color:orange;
}
a:hover{
  color:yellow;
}

<!--Transparent Cards-->

.thumbnail{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.fullCard{
  border-radius:15px;
  padding:2px;
}

.cardText{
  background-color:rgba(00,0,0,0.9);
  margin-bottom:30px;
}

.cardContent{
  padding:8px;
}
