#image{
  max-width: 100%;
  display: block;
  height: auto;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.body_img_left{
    float:left;
    margin-right:20px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:1px solid black;
}

#header{
  top:0;
  width:95%;
  margin-left:2.5%;
  background-color: black;
  position: fixed;
  text-align: right;
  box-shadow:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#nav-bar{
  font-size: 25px;
  padding-right: 5px;
    color:orange;
}

#title_section{
    margin-top:50px;
    margin-left:5%;
    width:90%;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgba(0,0,0,0);
    text-align: center;
    border:1px solid black;
    box-shadow:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
}

#maintext{
  margin-left:10%;
  background-color: rgba(0,0,0,.1);
  width:80%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  border:1px solid black;
  box-shadow:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

input[type=submit] {
    width: 20em;  height: 2em;
}

#form{
  width: 70%;
  margin-left: 15%;
  margin-top: 10px;
  text-align: center;
}
#boxcontainer{
      display:flex;
      justify-content:space-between;
}

#thumbnail{
  background-color:rgba(200,200,200,.95);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.fullCard{
  border-radius:5px;
  padding-left: 2px;
  padding-right:2px;
}

.cardText{
  background-color:rgba(200,200,200,.95);
  font-style: italic;
  padding-left: 2px;
  padding-right: 2px;
}

.cardContent{
  color: black;
  text-decoration: underline;
  text-align: center;
  background-color:rgba(200,200,200,.95);
}

.testimonial{
  border:2px solid black;
  //rgba(200,200,200,.95);
  width:80%;
  margin:2px;
  text-align: center;
}
